<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="/pages/style.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/changepass.js">
    </script>

  
  </head>
  <body>
    <div class="container">
      <div class="forms-container">

        <div class="signin-signup">
            <form id="changeform" onsubmit="submitChangeForm(event)" class="sign-in-form">
              <div id="loader" style="display: none;">
                <img src="../assets/Spinner-5.gif" alt="Chargement en cours...">
            </div>

            <div class="messageErreur" id="messageErreur" style="display: none;">Erreur lors de la modification du mot de passe</div>
          <div class="messageSuccess" id="messageSuccess" style="display: none;"> </div>

                <h2 class="title">Changez de mot de passe</h2>
                <div class="input-field">
                  <i class="fas fa-user"></i>
                  <input type="password" name="password" id="password" placeholder="Entrez le mot de passe" required />
                </div>
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="password" name="passwordC" id="passwordC" placeholder="Confirmez le mot de passe" required />
                </div>
                <input type="submit" id="changebutton" value="Login" class="btn solid" />
              </form>
        </div>
      </div>
      <div class="panels-container">

        <div class="panel left-panel">
            <div class="content">
                <h3>New here?</h3>
                <p>Register and become part of the family</p>
                <a href="/auth/register"><button class="btn transparent" id="sign-up-btn">Sign Up</button></a>
            </div>
            <img src="../assets/log.svg" class="image" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
